/*
p {
    background-color: blue;
    color: white;
}*/

p#id-selector-1 {
    background-color: red;
    color: white;
}
p#id-selector-2 {
    background-color: yellow;
    color: black;
}

.class-selector {
    background-color: yellow;
    color: blue;
}

.selector-1 .selector-3 {
    background-color: red;
    color: white;
}
.selector-2 > selector-3 >
.selector-4 {
    background-color: yellow;
    color: blue;
}

.some-css-selector { /*selects some DOM element*/
    color: blue; /*sets color property to blue*/
}

/*colors can be defined as follows:
as strings: blue, red, white
as hexadecimals: #abcdef
as RGB: rgb(12, 80, 255)
*/

/*This section is to color the foreground colors*/
.fg-color-black { color: black; }
.fg-color-black { color: white; }
.fg-color-blue { color: #7070ff; }
.fg-color-red { color: #ff7070; }
.fg-color-green { color: green; }

/*This section is to color the background colors*/
.bg-color-yellow {
    background-color: #ffff07;
}
.bg-color-blue {
    background-color: #7070ff;
}
.bg-color-red {
    background-color: #ff7070;
}
.bg-color-green {
    background-color: green;
}

/*Styling borders*/
.border-fat {
    border-width: 20px 30px 20px 30px; }
.border-thin {
    border-width: 4px; }
.border-solid {
    border-style: solid; }
.border-dashed {
    border-style: dashed; }
.border-yellow {
    border-color: #ffff07; }
.border-red {
    border-color: #ff7070; }
.border-blue {
    border-color: #7070ff; }

