.wd-stacked-icon {
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.wd-fine-print {
    text-decoration: none;
    font-size: 12px;
}

.wd-fine-print:hover {
    text-decoration: underline;
}

.list-group-item-action:hover {
    opacity: 0.85 !important;
}

.nav-link:hover {
    opacity: 0.85 !important;
}

.wd-pseudo-background {
    background-color: lightsteelblue;
}

.wd-nudge {
    padding-top: 1px;
    padding-left: 2px;
}

.wd-scroll {
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}